@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800;900&display=swap');
 
body{
    background-color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: body;
  
 
}
 
li {
    list-style: none;
}
header {
   max-width: 1265px;
   height: 710px;
   display: flex;
   flex-direction: column;
   align-items: center;
 
}
.header__content {
    width: 100%;
    height: 134px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index:1000;
    position: fixed;
   
   
   
    
    
}
.header__logo {
    width: 400px;
    height: 100%;
    line-height: 15px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}
.header__logo h1 {
    font-size: 19px;
    font-weight: 900;
    letter-spacing: 3px;
}
.header__logo span {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 2px;
}


.header__nav {
    width: 600px;
    height: 100%;
}
    
.header__nav nav {
    width: 550px;
    height: 100%;
    display: flex;
    align-items: center;
     
}
.header__nav nav  ul {
    width: 70%;
    display: flex;
    justify-content: space-around;
}
.header__nav nav  ul li a  {
    font-size: 15px;
    color: #000;
    text-decoration: none;
    font-family: normal;
    cursor: pointer;
    
}
 
.header__nav nav  ul li a:hover {
    color: rgb(49,127,129);
}
 
.header__nav nav div {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__nav nav div  a {
    color: rgb(49,127,129);
    text-decoration: none;
    cursor: pointer;
}
 
.title_container {
    width: 800px;
    height: 300px;
    position: absolute;
    
    margin-top: 13%;
    display: flex;
    flex-direction: column;
    line-height:4px;
    align-items: center;
}
 
.title_container h1 {
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2px;
   
    padding-top: 10px;
}
 
.title_container  h2 {
    font-size: 110px;
    font-weight: 900;
   margin-top: 7%;
    letter-spacing: 20px;
}
.title_container  p {
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: -1.5%;
}
.title_container   a {
    border: 1px solid black;
    padding: 20px 30px;
    margin-top: 5%;
    background-color: #000;
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-weight: 100;
    cursor: pointer !important;
    z-index: 1;
}
.title_container   a:hover {
    border: 1px solid black;
    color: black;
    background-color: white;
}

 













.video{
    width: 1265px;
    height: 710px;
     
    background-attachment: fixed;
 
}
.back_video {
    width: 1265px;
    overflow: hidden;
     
    
}

main {
    max-width: 1265px;
     display: flex;
     flex-direction: column;
}
 
.about{
    width: 100%;
    height: 800px;
   
    display: flex;
   justify-content: center;
    align-items: center;
     
}
.left__side{
    width: 640px;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
     
}
.right__side{
    width: 640px;
    height: 100%;
    background-color: rgb(35, 39, 39);
}
.right__side img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}


.side_title {
    width: 400px;
    height: 80%;
    
    display: flex;
      margin-left: 10%;
      margin-top: 5%;
    flex-direction: column;
    
    
     
  
     
}
.side_title  .line {
    width: 15%;
    
    border: 1px solid black;

}
.title  {
    margin-top: 3%;
}
.text  {
    width: 365px;
    margin-top: 6%;
}
.title h1 {
    width: 194px;
    height: 112px;
     
    font-size: 42px;
    color: #000;
    letter-spacing: 0.1em;
    font-family: 'Poppins', sans-serif;
    font-weight:  800;
}
.text p {
    line-height: 1.7em;
    font-size: 15px;
    letter-spacing: 0.02em;
    font-family: normal;
    font-weight: 100;
    color: rgb(0, 0, 0);
}
.btn  {
    margin-top: 20%;
}
.btn a {
    border: 1px solid black;
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 15px 20px;
    text-decoration: none;
    font-family: normal;
    letter-spacing: 0.02em;
}
 
.btn  a:hover {
    border: 1px solid black;
    color: black;
    background-color: white;
}

.help {
    
    width: 100%;
    min-height: 800px;
    background-image: url(../assets/84770f_62bea82dec60407d81320c967a003c1f~mv2_d_5468_2742_s_4_2.webp);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.container  {
    width: 70%;
    height: 600px;
    position: absolute;
  
}
.container  h1 {
    width: 30%;
    line-height: 1.2em;
    font-size: 42px;
    font-family: 'Poppins', sans-serif;
    font-weight:  800;
    letter-spacing: 2px;

}
.cards {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.box {
    width: 300px;
    height: 400px;
    border: 7px solid black;
    display: flex;
    flex-direction: column;
    line-height: 26px;
    align-items: center;
    text-align: center;
}
.box  h4 {
    width: 50%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 4px;

}
.box  p {
    width: 80%;
    font-size: 14px;
    font-family: normal;

}
.box .outline {
    width: 80%;
     
    border: 1px solid  black;
}
.box  span {
    font-size: 14px;
    font-family: normal;
}
 
.box:nth-child(1) a {
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 15px;
    border: 1px solid black;
    padding: 10px 30px;
    margin-top: 20%;
}
.box:nth-child(2) a {
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 15px;
    border: 1px solid black;
    padding: 10px 30px;
    margin-top: 20%;
}
.box:nth-child(3) a {
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 15px;
    border: 1px solid black;
    padding: 10px 30px;
   
}

footer {
    width: 100%;
    height: 618px;
    background-color:  rgb( 87,187,191);

}
footer .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    
}
footer .content .info {
    width: 300px;
    height: 550px;
   
 
}
.info h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px ;
    letter-spacing: 3px;
}
footer .content .info  .content {
    width: 100%;
    height: 300px;
    display: flex;
    padding-top: 35px;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
 

}
footer .content .info  .content div {
    display: flex;
    flex-direction: column;
    line-height: 30px;
     
}
footer .content .info  .content div span {
    font-size: 15px;
    font-family: normal;
}
 
footer .content .input {
    width: 600px;
    height: 550px;
 
}
 
 
footer .content  .social {
    width: 60%;
    height: 200px;
    display: flex;
    margin-top: 10%;
    justify-content: space-between;
}
footer .content  .social  i {
    font-size: 19px;
}

.input {
    width: 100%;
    height: 100%;
}
.input form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    padding-top: 20px;
  
}
.input form input {
    width: 90%;
    height: 30px;
    background: transparent;
}
textarea {
    background-color: transparent;
    border: 2px solid black;
    width: 90%;
}