body{
    background-color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: body;
  
 
}
 
li {
    list-style: none;
}
header {
   width: 1265px;
   height: 710px;
   display: flex;
   flex-direction: column;
   align-items: center;
 
}
.header__content {
    width: 100%;
    height: 134px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index:1000 ;
    position: fixed;
   
   
   
    
    
}
.header__logo {
    width: 400px;
    height: 100%;
    line-height: 15px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}
.header__logo h1 {
    font-size: 19px;
    font-weight: 900;
    letter-spacing: 3px;
}
.header__logo span {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 2px;
}


.header__nav {
    width: 600px;
    height: 100%;
}
    
.header__nav nav {
    width: 550px;
    height: 100%;
    display: flex;
    align-items: center;
     
}
.header__nav nav  ul {
    width: 70%;
    display: flex;
    justify-content: space-around;
}
.header__nav nav  ul li a  {
    font-size: 15px;
    color: #000;
    text-decoration: none;
    font-family: normal;
    cursor: pointer;
    
}
 
.header__nav nav  ul li a:hover {
    color: rgb(49,127,129);
}
 
.header__nav nav div {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__nav nav div  a {
    color: rgb(49,127,129);
    text-decoration: none;
    cursor: pointer;
}
 
 













.video{
    width: 100%;
    height: 710px;
    
    background-attachment: fixed;
 
}
.back_video {
    width: 100%;
    overflow: hidden;
    
}

.title_container {
    width: 800px;
    height: 300px;
    position: absolute;
    
    margin-top: 13%;
    display: flex;
    flex-direction: column;
    line-height:4px;
    align-items: center;
}
 
.title_container h1 {
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2px;
   
    padding-top: 10px;
}
 
.title_container  h2 {
    font-size: 110px;
    font-weight: 900;
   margin-top: 7%;
    letter-spacing: 20px;
}
.title_container  p {
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: -1.5%;
}
.title_container   a {
    border: 1px solid black;
    padding: 20px 30px;
    margin-top: 5%;
    background-color: #000;
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-weight: 100;
    cursor: pointer;
}




